$primary-hue: 300 !default;
$primary-50: hsl($primary-hue, 80%, 92%) !default;
$primary-100: hsl($primary-hue, 75%, 84%) !default;
$primary-200: hsl($primary-hue, 70%, 76%) !default;
$primary-300: hsl($primary-hue, 65%, 68%) !default;
$primary-400: hsl($primary-hue, 60%, 60%) !default;
$primary-500: hsl($primary-hue, 40%, 52%) !default;
$primary-600: hsl($primary-hue, 50%, 44%) !default;
$primary-700: hsl($primary-hue, 45%, 36%) !default;
$primary-800: hsl($primary-hue, 40%, 28%) !default;
$primary-900: hsl($primary-hue, 35%, 20%) !default;
